@use "sass:color" as *;
@use "../functions" as *;
@use "../helpers" as *;
@use "../mixins" as *;

.input {
  display: block;
  width: 100%;
  padding: 0 v("padding-inline", 2rem);
  border-radius: 0.5rem;
  line-height: 3.5rem;
  white-space: nowrap;
  font-weight: 600;
  border: 1px solid v("off-white");
  caret-color: currentColor;
  transition: border 0.2s ease;

  &::placeholder {
    color: v("off-black");
  }

  &:focus {
    outline: none;
    border-color: currentColor;
  }
}

.label {
  --padding-inline: 2rem;
  display: block;
  position: relative;

  &.has-error {
    .label__error {
      opacity: 1;
      display: block;
    }

    .label__error-icon {
      opacity: 1;
    }

    .label__input {
      border: 1px solid adjust(c("error"), $alpha: -0.5);

      &:focus {
        border: 1px solid v("error");
      }
    }
  }

  + .label {
    margin-top: 1.125rem;
  }

  &__text {
    @extend %sr-only;
  }

  &__error {
    opacity: 0;
    color: v("error");
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.333;
    padding: 0.5rem;
    text-align: right;
    font-style: italic;

    &:empty {
      display: none;
    }
  }

  &__error-icon {
    @include size(1.5rem);
    position: absolute;
    top: calc(3.5rem / 2);
    transform: translate(0, -50%);
    right: v("padding-inline");
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease;
  }
}

.form {
  padding: fluid-rem(1.25rem, 2.5rem);
  border-radius: 0.75rem;
  background-color: v("white");
  box-shadow: 0 0.5rem 0 adjust(c("off-black"), $alpha: -0.8);

  &.success {
    > * {
      &:not(.form__message) {
        display: none;
      }
    }

    .form__message {
      display: block;
    }
  }

  &__submit {
    margin-top: 1.125rem;
  }

  &__terms {
    margin-top: 1rem;
    padding: 0.25rem 0;
    font-size: 0.875rem;
    color: v("off-white");
    text-align: center;
    font-weight: 400;

    a {
      color: v("error");
      font-weight: 700;
    }
  }

  &__message {
    color: v("off-black");
    text-align: center;
    display: none;
  }
}
