html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  font: 500 1rem / 1.5 "Poppins", sans-serif;
  background: url("../images/bg-intro-desktop.png") no-repeat center top / cover,
    var(--error);
  color: var(--white);

  @media screen and (max-width: 768px) {
    background: url("../images/bg-intro-mobile.png") no-repeat center top /
        cover,
      var(--error);
  }

  &.no-scroll {
    overflow-y: hidden;
  }
}

@for $i from 1 through 6 {
  h#{$i} {
    font-weight: 700;
    line-height: 1.1;
  }
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

strong {
  font-weight: 700;
}
